:root {
    --preto: #000000;
    --cinza: #cccccc;
    --braco: #ffffff;
    --verde: #daff01;
    --roxo : #9353ff;
}

body {
    font-family: 'Inter', sans-serif;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    background-color: var(--preto);
    color: var(--braco);
    height: 58px;
}

.navegacao__logo {
    margin: 0px 40px 0px 23px;
}

.navegacao__paginas {
    display: flex;
    gap: 40px;
}

.container__banner {
    width: 100%;
}