:root {
    --preto      : #000000;
    --cinza      : #cccccc;
    --braco      : #ffffff;
    --azul-escuro: #212529;
    --verde      : #daff01;
    --roxo       : #9353ff;

    --fonte-padrao: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-padrao);
}

.cabecalho {
    position: fixed;
    top: 0%;
    width: 100%;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    background-color: var(--preto);
    color: var(--braco);
    height: 58px;
}

.navegacao__logo {
    margin: 0px 40px 0px 23px;
}

.navegacao__paginas {
    display: flex;
    gap: 40px;
}

.paginas__link {
    transition: 1s;
}

.paginas__link:hover {
    transition: 1s;
    scale: 1.1;
}

.conteudo__banner {
    margin-top: 58px;
    width: 100%;
}

.navegacao__titulo {
    text-align: center;
    margin: 72px 0px 32px 0px;
    font: normal 500 32px var(--fonte-padrao); 
}

.navegacao__categoria {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.categoria__link {
    background-color: var(--preto);
    transition: 1s;
}

.categoria__link:hover {
    scale: 1.1;
    transition: 1s;
}

.link__texto {
    padding: 8px 16px 10px 16px;
    color: var(--braco);
}

.conteudo__bombando {
    margin: 0px 265px 84px 265px;
}

.bombando__produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.bombando__titulo {
    text-align: center;
    margin: 48px 0px 30px 0px;
    font: normal 500 32px var(--fonte-padrao);
}

.produtos__produto {
    width: 350px;
    margin-bottom: 30px;
}

.produto__titulo {
    margin: 13px 112px 13px 16px;
    font: normal 700 16px var(--fonte-padrao);
}

.produto__texto {
    font: normal 400 13px var(--fonte-padrao);
    margin: 16px;
}

.preco {
    margin-bottom: 19px;
}

.produto__botao {
    color: var(--braco);
    background-color: var(--roxo);
    padding: 9px 16px;
    margin: 16px;
}

.conteudo__conheca {
    background-color: var(--preto);
    color: var(--braco);
    padding: 40px;
}

.conheca__titulo {
    font: normal 500 32px var(--fonte-padrao);
    text-align: center;
    margin-bottom: 44px;
}

.facilidade__titulo {
    color: var(--verde);
    font-weight: 700;
    margin-bottom: 16px;
}

.facilidade__texto {
    font: normal 400 13px var(--fonte-padrao);
    width: 182px;
}

.facilidades {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.conheca__facilidade {
    display: flex;
    gap: 24px;
}