@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --preto  : #000000;
    --cinza  : #cccccc;
    --amarelo: #daff01;
    --roxo   : #9353ff;
    --branco : #ffffff;

    --font   : 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--branco);
}

.cebecalho {
    display: flex;
    justify-content: space-between;
    height: 58px;
    background-color: var(--preto);
}

.cabecalho__nave {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 13px 23px;
    width: 608px;
    height: 32px;
}

.cabecalho__nave__nav {
    display: flex;
    gap: 40px;
}

.cabecalho__nave__nav__link {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--font);
}

.cabecalho__navd {
    margin: 9.5px 23px 11.5px 0px;
    display: flex;
    align-items: center;
}

.cabecalho__navd__texto {
    color: var(--cinza);
    font-family: var(--font);
    font-size: 15px;
}

.cabecalho__navd__box {
    border: none;
    margin-right: 16px;
    height: 38px;
    width: 170px;
}

.cabecalho__navd__botao {
    background-color: transparent;
    color: var(--branco);
    border: solid 1px var(--branco);
    font-family: var(--font);
    height: 37px;
    width: 80px;
}