@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --preto  : #000000;
    --cinza  : #cccccc;
    --amarelo: #daff01;
    --roxo   : #9353ff;
    --branco : #ffffff;

    --font   : 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--branco);
    font-family: var(--font);
}

.cebecalho {
    display: flex;
    justify-content: space-between;
    height: 58px;
    background-color: var(--preto);
}

.cabecalho__nave {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 13px 23px;
    width: 608px;
    height: 32px;
}

.nave__nav {
    display: flex;
    gap: 40px;
}

.nav__link {
    text-decoration: none;
    color: var(--branco);
}

.cabecalho__navd {
    margin: 9.5px 23px 11.5px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.navd__input {
    position: relative;
}

.input {
    width: 170px;
    height: 38px;
    border: none;
}

.input-text {
    position: absolute;
    left: 0;
    bottom: 5px;
    margin: 0px 0px 5.5px 15px;
    color: var(--cinza);
    font-weight: 400;
    font-size: 15px;
}

form .input-text .input:focus {
    
}

.navd__botao {
    background-color: transparent;
    color: var(--branco);
    border: solid 1px var(--branco);
    height: 37px;
    width: 80px;
}

.conteudo__imagem {
    width: 100vw;
}